.slideshow {
  margin-top: 125px;
}

.slideshow_container {
  height: auto;
}

.slideshow_container ul li button {
  &:before {
    font-size: 10px;
    color: rgb(150, 158, 171);
  }
}

.slideshow_container li.slick-active button:before {
  color: white;
}

.slideshow_container button {
  z-index: 1;
}

.slide_item {
  height: 450px;
  border-radius: var(--container-border-radius-2);
}

.slide_item img {
  border: 4px solid transparent;
  border-radius: var(--container-border-radius-2);
  width: 100%;
  height: 100%;
  box-shadow: var(--container-box-shadow-2);
  transition-duration: 300ms;

  &:hover {
    border: 4px solid rgba(255, 255, 255, 1);
    scale: 1.01;
  }
}

@media (max-width: 780px) {
  .slide_item {
    height: 350px;
    border-radius: var(--container-border-radius-2);
  }
}

@media (max-width: 450px) {
  .slideshow {
    margin-top: 105px;
  }

  .slide_item {
    height: 200px;
  }

  .slideshow_container ul li button {
    &:before {
      font-size: 6px;
    }
  }
}
