.experts-sec .slick-track {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
  margin-bottom: 50px;
}

.experts-sec {
  background: var(--color-white);
  border: 1px solid rgba(82, 63, 105, 0.2);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 450px) {
}
