#headnav {
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--section-padding-lg);
  height: 40px;
  width: 100%;
  background: rgb(21, 21, 100);
  transition: all 0.3s ease;
  position: fixed;
  z-index: 999;
}

#headnav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

#headnav ul li,
#headnav ul li a {
  display: flex;
  align-items: center;
  cursor: pointer;
  list-style: none;
  font-size: 0.8rem;
  color: #ccc;
}

#headnav ul li i {
  margin-right: 5px;
  color: #686f7a;
}

#headnav ul li a {
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 0.8rem;
  color: #ccc;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

#headnav .headnav_icons {
  margin-right: 5px;
}

/* Media Queries */
@media (max-width: 780px) {
  #headnav {
    padding: 8px 18px;
  }

  #headnav ul li svg {
    display: none;
  }

  #headnav ul li,
  #headnav ul li a {
    font-size: 0.6rem;
  }
}

@media (max-width: 450px) {
  #headnav {
    justify-content: center;
  }

  #headnav ul.headnav-list1 {
    display: none;
  }

  #headnav ul li svg {
    display: block;
  }
}
