.gallery {
  margin-top: 140px;
}

.gallery_section {
  border: 1px solid rgba(82, 63, 105, 0.2);
  border-radius: 8px;
  padding: 1vw;
  margin-bottom: 1rem;
}

@media (max-width: 450px) {
  .gallery {
    margin-top: 120px;
  }
}
