.categories {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.categories_items {
  width: 65%;
}

.category {
  padding: 2vw;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.2);
  margin-bottom: 10px;
  border: 1px solid rgba(82, 63, 105, 0.2);
  border-radius: 8px;
  background: var(--color-white);
}

.category-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.category .btn {
  margin-top: 2rem;
}

.cate {
  width: 30%;
}

.cate h2 {
  padding-bottom: 7px;
}

.cate a {
  color: #757373;
  font-weight: 500;
  line-height: 45px;
  &:hover {
    color: #29303b;
  }
}

.cate hr {
  height: 1px;
  background: #757373;
}

@media (max-width: 450px) {
  .categories {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .categories_items {
    width: 100%;
  }

  .cate {
    width: 80%;
  }
}
