#hero {
  background-image: linear-gradient(rgba(9, 5, 54, 0.6), rgba(5, 4, 46, 0.8)),
    url(../../assets/back3.jpg);
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
  padding: 40px;
  border-radius: 0;
}

#hero h2 {
  color: #fff;
  font-size: 2.2rem;
  line-height: 1;
  margin-bottom: 1rem;
}

#hero p {
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

#hero .btn {
  margin-top: 30px;
}

.hero-col1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid #f9f9ff;
  padding-right: 1rem;
}

.hero-col2 {
  width: 30%;
  height: auto;
  overflow: hidden;
}

@media (max-width: 780px) {
  #hero h2 {
    font-size: 2rem;
  }

  .hero-col2 {
    width: 37%;
  }
}

@media (max-width: 450px) {
  #hero {
    flex-direction: column;
    gap: 1.5rem;
  }

  #hero h2 {
    font-size: 1.5rem;
  }

  .hero-col1,
  .hero-col2 {
    width: 100%;
  }

  .hero-col1 {
    border-right: none;
  }
}
