#school_numbers {
  padding: 6vw 8vw;
  background-image: linear-gradient(
      rgba(99, 112, 168, 0.5),
      rgba(81, 91, 233, 0.5)
    ),
    url(../../assets//background.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#school_numbers .school_numbers-det,
#school_numbers .school_numbers-det h1 {
  color: #fff;
}

#school_numbers .school_numbers-det {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#school_numbers .school_numbers-det .numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

#school_numbers .school_numbers-det .numbers .number {
  text-align: center;
  padding: 13px 33px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin: 0 5px 10px 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 450px) {
  .school_numbers-det h1 {
    font-size: 2rem;
  }
}
