#head-card {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(../../assets/background.png);
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#head-card h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

@media (max-width: 450px) {
  #head-card {
    height: 40vh;
    padding-top: 20vh;
  }

  #head-card h2 {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}
