.item_detail_card {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  margin-bottom: 10px;
  background: var(--color-white);
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.2);
  border: 1px solid rgba(82, 63, 105, 0.2);
  border-radius: 8px;
}

.item_detail_card .item_detail_card-img {
  width: 450px;
  margin-right: 1rem;
}

.item_detail_card .item_detail_card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.item_detail_card .item_detail_card-text {
  position: relative;
  width: 60%;
  margin-right: 1rem;
}

.item_detail_card .item_detail_card-text .btn {
  position: absolute;
  bottom: 0;
}

.item_detail_card.right-image .item_detail_card-img {
  display: flex;
  align-items: flex-end;
  margin-right: 0;
}
